/* general table styling */
#ores table, #ingots table, #components table, #servers table, #stations table, #tradeZones table {
    border: 2px solid #CCCCCC;
}
#ores table td, #ores table th, #ingots table td, #ingots table th, #components table td, #components table th, #servers table td, #servers table th, #stations table td, #stations table th, #tradeZones table td, #tradeZones table th {
    border: 1px solid #CCC;
    border-collapse: collapse;
    padding: 1em;
    font-family: Tahoma, sans-serif;
}
#ores table tr:nth-of-type(2n + 2), #ingots table tr:nth-of-type(2n + 2), #components table tr:nth-of-type(2n + 2), #servers table tr:nth-of-type(2n + 2), #stations table tr:nth-of-type(2n + 2), #tradeZones table tr:nth-of-type(2n + 2) {
    background-color: #ECF7FF;
}
#ores table td:nth-of-type(1), #ores table th:nth-of-type(1), #ingots table td:nth-of-type(1), #ingots table th:nth-of-type(1), #servers table td:nth-of-type(1), #servers table th:nth-of-type(1), #stations table td:nth-of-type(1), #stations table th:nth-of-type(1), #tradeZones table td:nth-of-type(1), #tradeZones table th:nth-of-type(1) {
    width: 5em;
    text-align: center;
}
#ores table th, #ingots table th, #components table th, #servers table th, #stations table th, #tradeZones table th {
    font-size: 10pt;
    background-color: #DDE9FF;
}
#ores table td, #ingots table td, #servers table td, #stations table td, #tradeZones table td  {
    font-size: 8pt;
}

#components table td:nth-of-type(1), #components table th:nth-of-type(1) {
    width: 4em;
    text-align: center;
}

#components table td:nth-of-type(2), #components table th:nth-of-type(2) {
    width: 8em;
    text-align: center;
}

#components table td {
    font-size: 7pt;
    padding: .1em;
}

/* this gets the tabs setup */
article.tabs {
    position: relative;
    display: block;
    width: 74em;
    height: 50em;
    margin: 2em auto;
}

article.tabs section {
    position: absolute;
    display: block;
    top: 1.8em;
    left: 0;
    right: 0;
    height: 48em;
    padding: 10px 20px;
    background-color: #ddd;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
    z-index: 0;
    color: black;
}

article.tabs section .tab-content { display: none; }

article.tabs section:last-child {
    z-index: 1;
    color: #333;
    background-color: #fff;
}

article.tabs section:last-child .tab-content { display: block; }

article.tabs section h2 {
    position: absolute;
    font-size: 1em;
    font-weight: normal;
    width: 120px;
    height: 1.8em;
    top: -1.8em;
    left: 10px;
    padding: 0;
    margin: 0;
    color: #999;
    background-color: #ECF7FF;
    border-radius: 5px 5px 0 0;
}

article.tabs section:nth-child(1) h2 { left: 132px; }
article.tabs section:nth-child(2) h2 { left: 254px; }
article.tabs section:nth-child(3) h2 { left: 376px; }
article.tabs section:nth-child(4) h2 { left: 498px; }
article.tabs section:nth-child(5) h2 { left: 620px; }
article.tabs section:nth-child(6) h2 { left: 742px; }

article.tabs section h2 a {
    display: block;
    width: 100%;
    line-height: 1.8em;
    text-align: center;
    text-decoration: none;
    color: inherit;
    outline: 0 none;
}

article.tabs section:target, article.tabs section:target h2 {
    color: #333;
    background-color: #fff;
    z-index: 2;
}

article.tabs section:target h2{
    background-color: #DDE9FF;
}

article.tabs section:target .tab-content { display: block; }

article.tabs section:target ~ section:last-child h2 {
    color: #999;
}

article.tabs section:target ~ section:last-child .tab-content { display: none; }

.addGeneral, .addId {
    max-width: 3em;
}

.headerTitle {
    text-transform: capitalize;
}