/* general table styling */
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

.headerSpacer {
    margin: 3em;
}
.simpleDisplay table {
    border: 2px solid #CCCCCC;
    width: 97em;
}
.simpleDisplay table td, .simpleDisplay table th {
    border: 1px solid #CCC;
    border-collapse: collapse;
    padding: 1em;
    font-family: Tahoma, sans-serif;
}
.simpleDisplay table tr:nth-of-type(2n + 2) {
    background-color: #ECF7FF;
}
.simpleDisplay table td:nth-of-type(1) {
    width: 5em;
    text-align: center;
}
.simpleDisplay table th {
    font-size: 10pt;
    background-color: #DDE9FF;
}
.simpleDisplay table td {
    font-size: 8pt;
}

#debugBox {
    position: fixed;
    z-index: 1000;
    left: 2%;
    top: 2%;
    background-color: #FAA;
    min-width: 40em;
    max-width: 60em;
    min-height: 20em;
    max-height: 40em;
    overflow: scroll;
}

#components table td:nth-of-type(1), #components table th:nth-of-type(1) {
    width: 4em;
    text-align: center;
}

#components table td:nth-of-type(2), #components table th:nth-of-type(2) {
    width: 8em;
    text-align: center;
}

#components table td {
    font-size: 7pt;
    padding: .1em;
}

/* this gets the tabs setup */
article.tabs {
    position: relative;
    display: block;
    width: 100em;
    height: 50em;
    margin: 2em auto;
}

article.tabs section {
    position: absolute;
    display: block;
    top: 3em;
    left: 0;
    right: 0;
    height: 48em;
    padding: 10px 20px;
    background-color: #ddd;

    z-index: 0;
    color: black;
}

article.tabs section .tab-content {
    display: none;
}

article.tabs section:last-child {
    z-index: 1;
    color: #333;
    background-color: #fff;
}

article.tabs section:last-child .tab-content {
    display: block;
}

article.tabs section h2 {
    position: absolute;
    font-size: .8em;
    font-weight: normal;
    width: 8em;
    height: 1.8em;
    top: -1.8em;
    left: 10px;
    padding: 0;
    margin: 0;
    color: #999;
    background-color: #ECF7FF;
    border-radius: 5px 5px 0 0;
}

article.tabs section:nth-child(1) h2 { left: 0em; }
article.tabs section:nth-child(2) h2 { left: 8.25em; }
article.tabs section:nth-child(3) h2 { left: 16.5em; }
article.tabs section:nth-child(4) h2 { left: 24.75em; }
article.tabs section:nth-child(5) h2 { left: 33em; }
article.tabs section:nth-child(6) h2 { left: 41.25em; }
article.tabs section:nth-child(7) h2 { left: 49.5em; }
article.tabs section:nth-child(8) h2 { left: 57.75em; }
article.tabs section:nth-child(9) h2 { left: 66em; }
article.tabs section:nth-child(10) h2 { left: 74.25em; }
article.tabs section:nth-child(11) h2 { left: 82.5em; }
article.tabs section:nth-child(12) h2 { left: 90.75em; }
article.tabs section:nth-child(13) h2 { left: 99em; }
article.tabs section:nth-child(14) h2 { left: 107.25em; }
article.tabs section:nth-child(15) h2 { left: 115.5em; }

article.tabs section h2 a {
    display: block;
    width: 100%;
    line-height: 1.8em;
    text-align: center;
    text-decoration: none;
    color: inherit;
    outline: 0 none;
}

article.tabs section:target, article.tabs section:target h2 {
    color: #333;
    background-color: #fff;
    z-index: 2;
}

article.tabs section:target h2 {
    background-color: #DDE9FF;
}

article.tabs section:target .tab-content {
    display: block; }

article.tabs section:target ~ section:last-child h2 {
    color: #999;
}

article.tabs section:target ~ section:last-child .tab-content {
    display: none; }

.addGeneral, .addId {
    max-width: 3em;
}

.headerTitle {
    text-transform: capitalize;
}

.hasOre {
    background-color: green;
}


/*menubar stuff */
.header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid #a2a2a2;
    background-color: #ECF7FF;
    -webkit-box-shadow: 0 0 14px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 14px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 14px 0 rgba(0,0,0,0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-right: 6.5em;
}


.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header h2,
.header h3,
.header a {
    color: #34495e;
    text-decoration: none;
}

.header .logo {
    margin: 0;
    font-size: 1.25em;
}

.header .main-nav {
    margin-top: 5px;

}
.header .logo a,
.header .main-nav a {
    padding: .25em .37em;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.header .main-nav a {
    color: #34495e;
    font-size: .95em;
}

.header .main-nav a:hover {
    color: #718daa;
}

/* from the login sytem */

.wrapper{
    width: 350px; padding: 20px;
}

/* for dealing with the csv stuff */
.textarea_csv {
    min-width:60em;
    min-height: 20em;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {
    .header,
    .main-nav {
        display: flex;
    }
    .header {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }
}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }

}